@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(124, 118, 118)
}

::-webkit-scrollbar-thumb {
    background: #575151;
}

::-webkit-scrollbar-thumb:hover {
    background: #2ac
}